{% extends "sunneberg/base.html" %}

{% block apple %}active{% endblock %}

{% load static %}

{% block body %}

<!-- cow pix -->
<section class="apple py-5" id="about">
	<div class="container py-lg-5 py-sm-3">
		<h3 class="heading mb-sm-5 mb-4 text-center"> Apple juice</h3>
		<h2 style="text-align: center;">Find information about our apple juice</h2>
		<br />
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
        <!-- https://pixabay.com/photos/apple-fall-juicy-food-autumn-1122537/ -->
        <!-- https://pixabay.com/photos/apple-apple-tree-fruit-3535566/ -->
				<img src="{{apple1.0.img_img.url}}" alt="appletree" style="float:left;width:50%;height:80%;object-fit:cover;">
				<img src="{{apple2.0.img_img.url}}" alt="apple" style="float:left;width:50%;height:80%;object-fit:cover;">
			</div>
			<div class="col-lg-1"></div>
		</div>
		<div class="row">
			<div class="col-lg-12 pl-xl-5 mt-lg-0 mt-4">
				<p class="pt-3 mt-3 border-top">
					Nullam consequat sapien ut
					leot cursus rhoncus. Nullam dui mi, vulputate ac metus at, semper varius orci. Nulla sed accumsan ac elit in congue. Class aptent taciti sociosqu ad
					litora torquent per taciti sociosqu ad litora torquent.
					Nullam consequat sapien utleot cursus rhoncus. Nullam dui mi, vulputate ac metus at, semper varius orci. Nulla sed accumsan ac elit in congue. Class aptent taciti sociosqu ad
					litora torquent per taciti sociosqu ad litora torquent.</p>
			</div>
		</div>
	</div>
</section>
<!-- //cow pix -->


<!-- Apple juice -->
<div class="abt_bottom py-md-5">
	<div class="container py-md-4 py-5">
		<div class="row">
            <div class="col-md-2"></div>
			<div class="col-md-8">
                <h4 class="abt-text text-capitalize" style="text-align: center;">Our type of recipient</h4>
                <p style="color: white; text-align: center;">Go over with pointer to see more</p>
            </div>
			<div class="col-md-2"></div>

			<div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="{% static 'images/cubi.jpg' %}" alt="Avatar" style="float:left;width:100%;height:100%;object-fit:cover;">
                      </div>
                      <div class="flip-card-back">
                        <div class="flip-bkg">
                            <div class="flip-text">
                                <div>
                                    <h1>5L</h1>
                                    <p>
                                        <br />
                                        <strong>XX CHF</strong>
                                        <br />
                                        <strong>Availability : </strong><img src="{% static 'images/available.png' %}" class="img-fluid" alt="available">
                                    </p>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="{% static 'images/bobonne.jpg' %}" alt="Avatar" style="float:left;width:100%;height:100%;object-fit:cover;">
                      </div>
                      <div class="flip-card-back">
                        <div class="flip-bkg">
                            <div class="flip-text">
                                <div>
                                    <h1>3L</h1>
                                    <p>
                                        <br />
                                        <strong>XX CHF</strong>
                                        <br />
                                        <strong>Availability : </strong><img src="{% static 'images/available.png' %}" class="img-fluid" alt="available">
                                    </p>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
			<div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="{% static 'images/chianti.jpg' %}" alt="Avatar" style="float:left;width:100%;height:100%;object-fit:cover;">
                      </div>
                      <div class="flip-card-back">
                        <div class="flip-bkg">
                            <div class="flip-text">
                                <div>
                                    <h1>2L</h1>
                                    <p>
                                        <br />
                                        <strong>XX CHF</strong>
                                        <br />
                                        <strong>Availability : </strong><img src="{% static 'images/available.png' %}" class="img-fluid" alt="available">
                                    </p>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
		</div>
	</div>
</div>
<!-- //Appel juice -->

<!-- Apple order -->
<div class="order py-md-2">
	<div class="container py-md-4 py-5">
		<div class="row">
			<div class="col-md-12">
				<h4 class="abt-text text-capitalize"> Download our Apple Order Formular !!!! <h4>
            </div>

			<div class="col-md-4"></div>
			<div class="col-md-4">
				<a href="{{pdf_order.0.pdf_file.url}}" class="btn btn-secondary px-4 py-2 btn-sm" download>Download Order</a>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>
<!-- // Apple order -->

<div class="container py-md-2" style="margin-top: 30px; margin-bottom: 30px;">
  <h2>Our Apple partner</h2>
  <section style="padding-top: 10px; padding-bottom: 10px;">
    <div class="col-xs-4"><img src="{% static 'images/s1.jpg' %}" style="float:left;width:100%;height:100%;object-fit:cover;"> <p>pwoeiur wpoiut writui iwerut</p> </div>
    <div class="col-xs-4"><img src="{% static 'images/s2.jpg' %}" style="float:left;width:100%;height:100%;object-fit:cover;"> <p>pwoeiur wpoiut writui iwerut</p></div class="col-md-4">
    <div class="col-xs-4"><img src="{% static 'images/s3.jpg' %}" style="float:left;width:100%;height:100%;object-fit:cover;"> <p>pwoeiur wpoiut writui iwerut</p></div class="col-md-4">
  </section>
</div>

{% endblock %}