<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
{% block param %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sunneberg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Agro Harvest Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

        <script>
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);

            function hideURLbar() {
                window.scrollTo(0, 1);
            }
        </script>
		

    <!-- css files -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> <!-- bootstrap css used for collapse -->
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' /><!-- custom css -->
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"><!-- fontawesome css -->
	<link href="{% static 'css/flip_css.css' %}" rel="stylesheet"><!-- flip css -->	
	<!-- //css files -->
	
	<link href="{% static 'css/css_slider.css' %}" type="text/css" rel="stylesheet" media="all">

	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Thasadith:400,400i,700,700i&amp;subset=latin-ext,thai,vietnamese" rel="stylesheet">
	<!-- //google fonts -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
</head>
<body>

    <!-- header -->
    <header>
        <div class="container">
            <!-- nav -->
            <nav class="py-4 d-lg-flex">
                <div id="logo">
                    <h1> <a href="/sunneberg/"><span class="fa fa-leaf"></span> Sunneberg</a></h1>
                </div>
                <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                <input type="checkbox" id="drop" />
                <ul class="menu mt-md-2 ml-auto">
                    <li class="mr-lg-4 mr-2 {% block index %}{% endblock %}"><a href="/sunneberg/">Home</a></li>
                    <li class="mr-lg-4 mr-2 {% block about %}{% endblock %}"><a href="/sunneberg/aboutus/">About Us</a></li>
                    <li class="mr-lg-4 mr-2 {% block farm %}{% endblock %}"><a href="/sunneberg/farming/">Pastoral Farming</a></li>
                    <li class="mr-lg-4 mr-2 {% block vine %}{% endblock %}"><a href="/sunneberg/vine/">Vineyard</a></li>
                    <li class="mr-lg-4 mr-2 {% block apple %}{% endblock %}"><a href="/sunneberg/apple/">Apple</a></li>
                    <li class="mr-lg-4 mr-2 {% block contact %}{% endblock %}"><a href="contact.html">Contact</a></li>
                    <li class="mr-lg-4 mr-2"><span><span class="fa fa-phone"></span> +41 XXX XX XX</span></li>
                </ul>
            </nav>
            <!-- //nav -->
        </div>
    </header>
    <!-- //header -->
{% endblock %}


{% block banner %}
<!-- banner -->
<div class="inner-banner" id="home">
	<div class="container">
	</div>
</div>
<!-- //banner -->
{% endblock %}

{% block body %}
{% endblock %}


{% block footer %}
    <!-- footer -->
	<footer class="text-center py-5">
		<div class="container py-md-3">
			<!-- logo -->
			<h2 class="logo2 text-center">
				<a href="/sunneberg/">
					<span class="fa fa-leaf"></span> Sunneberg
				</a>
			</h2>
			<!-- //logo -->
			<!-- address -->
			<div class="contact-left-footer mt-4">
				<ul>
					<li>
						<p>
							<span class="fa fa-map-marker mr-2"></span>Sunneberg, my address, CH
						</p>
					</li>
					<li class="mx-4">
						<p>
							<span class="fa fa-phone mr-2"></span>+41(0) XXX XX XX.
						</p>
					</li>
					<li>
						<p class="text-wh">
							<span class="fa fa-envelope-open mr-2"></span>
							<a href="mailto:info@example.com">Example@gmail.com</a>
						</p>
					</li>
				</ul>
			</div>
			<!-- //address -->
			<!-- social icons -->
			<div class="footercopy-social my-4">
			</div>
			<!-- //social icons -->
			<!-- copyright -->
			<div class="w3l-copy text-center">
				<p class="text-da">© 2019 Agro Harvest. All rights reserved | Design by
					<a href="http://w3layouts.com/">W3layouts</a>
				</p>
			</div>
			<!-- //copyright -->
		</div>
	</footer>
	<!-- //footer -->
    {% endblock %}

<!-- move top icon -->
<a href="#home" class="move-top text-center"></a>
<!-- //move top icon -->

</body>
</html>