{% extends "sunneberg/base.html" %}

{% block about %}active{% endblock %}


{% block body %}

<!-- about -->
<section class="about py-5" id="about">
	<div class="container py-lg-5 py-sm-3">
		<h3 class="heading mb-sm-5 mb-4 text-center"> About Sunneberg</h3>
		<div class="row">
			<div class="col-lg-6 about-left">
				<h5 class="mb-3">Few Words About Us!</h5>
				<h3 class="mb-lg-4 mb-2">Donec consequat sapien ut leo cursus rhoncus. </h3>
				<h4 class=""> Nullam dui mi, vulputate ac metus at, semper varius orci.</h4>
			</div>
			<div class="col-lg-6 pl-xl-5 mt-lg-0 mt-4 about-right">
				<p>Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus
					at, semper varius orci. Nulla accumsan ac elit in congue. Class aptent taciti sociosqu ad litora torquent
					per conubia aptent taciti sociosqu ad lorem ipsum dolor.</p>
				<p class="pt-3 mt-3 border-top"><span class="fa fa-quote-left text-color mr-2"></span>Nullam consequat sapien ut
					leot cursus rhoncus. Nullam dui mi, vulputate ac metus at, semper varius orci. Nulla sed accumsan ac elit in congue. Class aptent taciti sociosqu ad
					litora torquent per taciti sociosqu ad litora torquent.</p>
			</div>
		</div>
	</div>
</section>
<!-- //about -->


{% endblock %}