{% extends "sunneberg/base.html" %}

{% block farm %}active{% endblock %}

{% load static %}

{% block body %}

<!-- cow pix -->
<section class="farming py-5" id="about">
	<div class="container py-lg-5 py-sm-3">
		<h3 class="heading mb-sm-5 mb-4 text-center"> Pastoral Farming</h3>
		<h2><center>Find information about our farming and meat</center></h2>
		<br />
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				<img src="{% static 'images/vache1.jpg' %}" alt="cow" style="float:left;width:50%;height:100%;object-fit:cover;">
				<img src="{% static 'images/vache2.jpg' %}" alt="cow" style="float:left;width:50%;height:100%;object-fit:cover;">
			</div>
			<div class="col-lg-1"></div>
		</div>
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				<img src="{% static 'images/vache3.jpg' %}" alt="cow" style="float:left;width:50%;height:100%;object-fit:cover;">
				<img src="{% static 'images/vache4.jpg' %}" alt="cow" style="float:left;width:50%;height:100%;object-fit:cover;">
			</div>
			<div class="col-lg-1"></div>
		</div>
		<div class="row">
			<div class="col-lg-12 pl-xl-5 mt-lg-0 mt-4">
				<p class="pt-3 mt-3 border-top">
					Nullam consequat sapien ut
					leot cursus rhoncus. Nullam dui mi, vulputate ac metus at, semper varius orci. Nulla sed accumsan ac elit in congue. Class aptent taciti sociosqu ad
					litora torquent per taciti sociosqu ad litora torquent.
					Nullam consequat sapien utleot cursus rhoncus. Nullam dui mi, vulputate ac metus at, semper varius orci. Nulla sed accumsan ac elit in congue. Class aptent taciti sociosqu ad
					litora torquent per taciti sociosqu ad litora torquent.</p>
			</div>
		</div>
	</div>
</section>
<!-- //cow pix -->


<!-- Meat stock -->
<div class="abt_bottom py-md-5">
	<div class="container py-md-4 py-5">
		<div class="row">
            <div class="col-md-2"></div>
			<div class="col-md-8">
				<h4 class="abt-text text-capitalize"><center>Our available meat to buy</center>	</h4>
            </div>
			<div class="col-md-2"></div>

			<div class="col-md-4"></div>
			<div class="col-md-4">
				<ul class="list-group">
					{% for i in meat_list.list_content %}

						<li class="list-group-item d-flex justify-content-between align-items-center">
						<p>{{i}}</p>
						</li>

					{% endfor %}
			  	</ul>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>
<!-- // Meat stock -->

<!-- Meat order -->
<div class="order py-md-2">
	<div class="container py-md-4 py-5">
		<div class="row">
			<div class="col-md-12">
				<h4 class="abt-text text-capitalize"> Download our Meat Order Formular !!!! <h4>
            </div>

			<div class="col-md-4"></div>
			<div class="col-md-4">
				<a href="{% static 'images/vache1.jpg' %}" class="btn btn-secondary px-4 py-2 btn-sm" download>Download Order</a>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>
<!-- // Meat order -->

<div class="container py-md-2" style="margin-top: 30px; margin-bottom: 30px;">
	<h2>Our Meat partner</h2>
	<section class="customer-logos slider" style="padding-top: 10px; padding-bottom: 10px;">
	  <div class="slide"><img src="{% static 'images/s1.jpg' %}" style="float:left;width:100%;height:100%;object-fit:cover;"></div>
	  <div class="slide"><img src="{% static 'images/s2.jpg' %}" style="float:left;width:100%;height:100%;object-fit:cover;"></div>
	  <div class="slide"><img src="{% static 'images/s3.jpg' %}" style="float:left;width:100%;height:100%;object-fit:cover;"></div>
	  <div class="slide"><img src="{% static 'images/5.jpg' %}" style="float:left;width:100%;height:100%;object-fit:cover;"></div>
	  <div class="slide"><img src="{% static 'images/cubi.jpg' %}" style="float:left;width:100%;height:100%;object-fit:cover;"></div>
	  <div class="slide"><img src="{% static 'images/rosebottle.jpg' %}" style="float:left;width:100%;height:100%;object-fit:cover;"></div>
	  <div class="slide"><img src="{% static 'images/te1.jpg' %}" style="float:left;width:100%;height:100%;object-fit:cover;"></div>
	</section>
  </div>

{% endblock %}