<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends "sunneberg/base.html" %}
{% load static %}
{% block index %}active{% endblock %}

{% block banner %}
    <!-- banner -->
    <section class="banner_w3lspvt" id="home">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
              </ol>
          
              <!-- Wrapper for slides -->
              <!-- https://unsplash.com/photos/aoCph6bCrkM -->
              <!-- https://pixabay.com/photos/fruit-grape-vines-wine-vineyard-3215625/ -->
              <!-- https://pixabay.com/photos/cow-alpine-horn-759018/ -->
              <div class="carousel-inner">
                <div class="item active">
                    <div class="banner-top" style="background: url({{farm.0.img_img.url}}) no-repeat center;">
                        <div class="overlay">
                            <div class="container">
                                <div class="w3layouts-banner-info text-center">
                                    <h3 class="text-wh">About us</h3>
                                    <h4 class="text-wh mx-auto my-4">{{farm_txt.0.txt_title}}</h4>
                                    <p class="text-li mx-auto mt-2">{{farm_txt.0.txt_text}}</p>
                                    <a href="/sunneberg/aboutus/" class="button-style mt-sm-5 mt-4">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          
                <div class="item">
                    <div class="banner-top" style="background: url({{cows.0.img_img.url}}) no-repeat center"> 
                        <div class="overlay1">
                            <div class="container">
                                <div class="w3layouts-banner-info text-center">
                                    <h3 class="text-wh">Pastoral farming</h3>
                                    <h4 class="text-wh mx-auto my-4">{{cows_txt.0.txt_title}}</h4>
                                    <p class="text-li mx-auto mt-2">{{cows_txt.0.txt_text}}</p>
                                    <a href="/sunneberg/farming/" class="button-style mt-sm-5 mt-4">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="item">
                    <div class="banner-top" style="background: url({{grappes.0.img_img.url}}) no-repeat center">
                        <div class="overlay">
                            <div class="container">
                                <div class="w3layouts-banner-info text-center">
                                    <h3 class="text-wh">Vineyard</h3>
                                    <h4 class="text-wh mx-auto my-4">{{grappes_txt.0.txt_title}}</h4>
                                    <p class="text-li mx-auto mt-2">{{grappes_txt.0.txt_text}}</p>
                                    <a href="/sunneberg/vine/" class="button-style mt-sm-5 mt-4">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="banner-top" style="background: url({{apple.0.img_img.url}}) no-repeat center">
                        <div class="overlay">
                            <div class="container">
                                <div class="w3layouts-banner-info text-center">
                                    <h3 class="text-wh">Apple</h3>
                                    <h4 class="text-wh mx-auto my-4">{{apple_txt.0.txt_title}}</h4>
                                    <p class="text-li mx-auto mt-2">{{apple_txt.0.txt_text}}</p>
                                    <a href="/sunneberg/apple/" class="button-style mt-sm-5 mt-4">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
          
              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
    </section>
{% endblock %}
    
{% block body %}

<!-- Products & Services -->
<!-- https://pixabay.com/photos/cow-barn-sun-setting-straw-farm-4852015/ -->
<!-- https://pixabay.com/photos/apple-red-red-apple-apple-orchard-2788599/ -->
<!-- https://pixabay.com/photos/mosel-river-vineyards-wine-vines-4336787/ -->

<section class="blog py-5">
	<div class="container py-md-5">
		<h3 class="heading mb-sm-5 mb-4 text-center"> Our Products and Services</h3>
		<div class="row blog-grids">
			<div class="col-lg-4 col-md-6 blog-left mb-lg-0 mb-sm-5 pb-lg-0 pb-5">	
				<img src="{{pfarminghome.0.img_img.url}}" class="img-fliud" alt="" style="float:left;width:100%;height:100%;object-fit:cover;" />
				<div class="blog-info">
					<h4>Pastoral Farming <span class="fa fa-pagelines"></span></h4>
					<p class="mt-2">Integer sit ut amet mattis quam, sit amet ultricies velit. Praesent ullam corper dui turpis sit.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 blog-middle mb-lg-0 mb-sm-5 pb-lg-0 pb-md-5">	
				<img src="{{grappeshome.0.img_img.url}}" class="img-fliud" alt="" style="float:left;width:100%;height:100%;object-fit:cover;"/>
				<div class="blog-info">
					<h4>Vineyard <span class="fa fa-pagelines"></span></h4>
					<p class="mt-2">Integer sit ut amet mattis quam, sit amet ultricies velit. Praesent ullam corper dui turpis sit.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 blog-right mt-lg-0 mt-5 pt-lg-0 pt-md-5">
				<img src="{{applehome.0.img_img.url}}" class="img-fliud" alt="" style="float:left;width:100%;height:100%;object-fit:cover;"/>
				<div class="blog-info">
					<h4>Apple <span class="fa fa-pagelines"></span></h4>
					<p class="mt-2">Integer sit ut amet mattis quam, sit amet ultricies velit. Praesent ullam corper dui turpis sit.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //Products & Services -->

<!-- newsletter -->
<section>
    <div class="newsletter_right_w3 py-5">
        <div class="container py-lg-3">
        <h3 class="heading mb-4 text-center">Subscribe Newsletter</h3>
            <p class="sub-tittle text-center mb-sm-5 mb-4">Sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            <div class="n-right-w3ls">
                <form action="#" method="post" class="newsletter">
                    {% csrf_token %}
                    <input class="email" type="email" placeholder="Enter your email id..." required="" name="email">
                    <button class="form-control btn" value="" style="height: 100%">Subscribe</button>
                </form>
                <p><a href="/sunneberg/unsubscribe/">unsubscribe link</a></p>
            </div>
        </div>
    </div>
</section>
<!-- //newsletter -->

{% if messages %}
{% for message in messages %}
 {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

{% endfor %}

{% endif %}

{% endblock %}

</body>
</html>
