{% extends "sunneberg/base.html" %}

{% load static %}


{% block body %}


{% if user.is_authenticated %}
<div class="team py-5" id="team">
    <!-- Images -->
    <section class="adminimages">
        <div class="container py-lg-3">
            <h3 class="heading mb-sm-5 mb-4 text-center"> Images </h3>
            <div class="container">
                <h2>List of images used </h2>
                <div class="panel-group" id="accordion">
                <!-- Banner Images -->
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: rgb(54, 0, 115); color: white">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Home page - Banner</a>
                    </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="row team-bottom text-center">
                            <div class="col-lg-6 col-sm-12 team-grid">
                                <p>&nbsp;</p>
                                <a href="/sunneberg/things/{{farm.0.img_name}}/edit">
                                    <img src="{{farm.0.img_img.url}}" class="img-fluid" alt="" style="width:50%;height:50%;object-fit:cover;no-repeat center;">
                                
                                <div class="caption">
                                    <div class="team-text">
                                        <h4>About image</h4>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-sm-12 team-grid">
                                <p>&nbsp;</p>
                                <a href="/sunneberg/things/{{cows.0.img_name}}/edit">
                                    <img src="{{cows.0.img_img.url}}" class="img-fluid" alt="" style="width:50%;height:50%;object-fit:cover;no-repeat center;">
                                <div class="caption">
                                    <div class="team-text">
                                        <h4>Cow image</h4>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-sm-12 team-grid">
                                <p>&nbsp;</p>
                                <a href="/sunneberg/things/{{apple.0.img_name}}/edit">
                                    <img src="{{apple.0.img_img.url}}" class="img-fluid" alt="" style="width:50%;height:50%;object-fit:cover;no-repeat center;">
                                <div class="caption">
                                    <div class="team-text">
                                        <h4>Apple image</h4>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-sm-12 team-grid">
                                <p>&nbsp;</p>
                                <a href="/sunneberg/things/{{grappes.0.img_name}}/edit">
                                    <img src="{{grappes.0.img_img.url}}" class="img-fluid" alt="" style="width:50%;height:50%;object-fit:cover;no-repeat center;">
                                <div class="caption">
                                    <div class="team-text">
                                        <h4>Grappes image</h4>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //Banner Images -->
                <!-- Vignettes Images -->
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: rgb(54, 0, 115); color: white">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Home - 3 Vignettes</a>
                    </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="row team-bottom text-center">
                            <div class="col-lg-4 col-sm-4 team-grid">
                                <p>&nbsp;</p>
                                <a href="/sunneberg/things/{{pfarminghome.0.img_name}}/edit">
                                    <img src="{{pfarminghome.0.img_img.url}}" class="img-fluid" alt="">
                                <div class="caption">
                                    <div class="team-text">
                                        <h4>Pastoral farming</h4>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-4 team-grid">
                                <p>&nbsp;</p>
                                <a href="/sunneberg/things/{{grappeshome.0.img_name}}/edit">
                                    <img src="{{grappeshome.0.img_img.url}}" class="img-fluid" alt="">
                                <div class="caption">
                                    <div class="team-text">
                                        <h4>Vineyard</h4>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-4 team-grid">
                                <p>&nbsp;</p>
                                <a href="/sunneberg/things/{{applehome.0.img_name}}/edit">
                                    <img src="{{applehome.0.img_img.url}}" class="img-fluid" alt="">
                                <div class="caption">
                                    <div class="team-text">
                                        <h4>Apple</h4>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //Vignettes Images -->
                <!-- Cows Farming Images -->
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: rgb(54, 0, 115); color: white">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Farming page Images</a>
                    </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="row team-bottom text-center">
                            <div class="col-lg-6 col-sm-12 team-grid">
                                <p>&nbsp;</p>
                                <a href="/sunneberg/things/{{fcow1.0.img_name}}/edit">
                                    <img src="{{fcow1.0.img_img.url}}" class="img-fluid" alt="" style="width:50%;height:50%;object-fit:cover;no-repeat center;">
                                
                                <div class="caption">
                                    <div class="team-text">
                                        <h4>Top left</h4>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-sm-12 team-grid">
                                <p>&nbsp;</p>
                                <a href="/sunneberg/things/{{fcow2.0.img_name}}/edit">
                                    <img src="{{fcow2.0.img_img.url}}" class="img-fluid" alt="" style="width:50%;height:50%;object-fit:cover;no-repeat center;">
                                <div class="caption">
                                    <div class="team-text">
                                        <h4>Top right</h4>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-sm-12 team-grid">
                                <p>&nbsp;</p>
                                <a href="/sunneberg/things/{{fcow3.0.img_name}}/edit">
                                    <img src="{{fcow3.0.img_img.url}}" class="img-fluid" alt="" style="width:50%;height:50%;object-fit:cover;no-repeat center;">
                                <div class="caption">
                                    <div class="team-text">
                                        <h4>Bottom left</h4>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-sm-12 team-grid">
                                <p>&nbsp;</p>
                                <a href="/sunneberg/things/{{fcow4.0.img_name}}/edit">
                                    <img src="{{fcow4.0.img_img.url}}" class="img-fluid" alt="" style="width:50%;height:50%;object-fit:cover;no-repeat center;">
                                <div class="caption">
                                    <div class="team-text">
                                        <h4>Bottom right</h4>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // Cows Farming Images -->
                <!-- Apple Images -->
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: rgb(54, 0, 115); color: white">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Apple page Images</a>
                    </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="row team-bottom text-center">
                            <div class="col-lg-6 col-sm-6 team-grid">
                                <p>&nbsp;</p>
                                <a href="/sunneberg/things/{{apple1.0.img_name}}/edit">
                                    <img src="{{apple1.0.img_img.url}}" class="img-fluid" alt="">
                                <div class="caption">
                                    <div class="team-text">
                                        <h4>Pastoral farming</h4>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-sm-6 team-grid">
                                <p>&nbsp;</p>
                                <a href="/sunneberg/things/{{apple2.0.img_name}}/edit">
                                    <img src="{{apple2.0.img_img.url}}" class="img-fluid" alt="">
                                <div class="caption">
                                    <div class="team-text">
                                        <h4>Vineyard</h4>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                </div> 
            </div>
                
        </div>
    </section>

    <!-- //Images -->

    <!-- Texte -->
    <section class="admintxt">
        <div class="container py-lg-3">
            <h3 class="heading mb-sm-5 mb-4 text-center"> Texte </h3>
            <div class="container">
                <h2>List of texte used </h2>
                <div class="panel-group" id="accordion1">
                    <!-- Banner Text -->
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: rgb(54, 0, 115); color: white">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse10">Home page - Banner text</a>
                    </h4>
                    </div>
                    <div id="collapse10" class="panel-collapse collapse">
                        <div class="row team-bottom text-center">
                            <div class="col-lg-6 col-sm-12 team-grid">
                                <p>&nbsp;</p>
                                    <a href="/sunneberg/txt_things/{{farm_txt.0.txt_name}}/edit">
                                        <img src="{{farm.0.img_img.url}}" class="img-fluid" alt="" style="width:50%;height:50%;object-fit:cover;no-repeat center;">
                                    <div id="txt_overlay"> <a href="/sunneberg/txt_things/{{farm_txt.0.txt_name}}/edit"> <p>customize</p><p>text only </p> </a>
                                    </div>
                                <div class="caption">
                                    <div class="team-text">
                                        <h4>About image text</h4>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-sm-12 team-grid">
                                <p>&nbsp;</p>
                                    <a href="/sunneberg/txt_things/{{cows_txt.0.txt_name}}/edit">
                                        <img src="{{cows.0.img_img.url}}" class="img-fluid" alt="" style="width:50%;height:50%;object-fit:cover;no-repeat center;">
                                    <div id="txt_overlay"> <a href="/sunneberg/txt_things/{{cows_txt.0.txt_name}}/edit"> <p>customize</p><p>text only </p> </a>
                                    </div>
                                <div class="caption">
                                    <div class="team-text">
                                        <h4>Cow image text</h4>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-sm-12 team-grid">
                                <p>&nbsp;</p>
                                    <a href="/sunneberg/txt_things/{{apple_txt.0.txt_name}}/edit">
                                        <img src="{{apple.0.img_img.url}}" class="img-fluid" alt="" style="width:50%;height:50%;object-fit:cover;no-repeat center;">
                                    <div id="txt_overlay"> <a href="/sunneberg/txt_things/{{apple_txt.0.txt_name}}/edit"> <p>customize</p><p>text only </p> </a>
                                    </div>
                                <div class="caption">
                                    <div class="team-text">
                                        <h4>Apple image txt</h4>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-sm-12 team-grid">
                                <p>&nbsp;</p>
                                    <a href="/sunneberg/txt_things/{{grappes_txt.0.txt_name}}/edit">
                                        <img src="{{grappes.0.img_img.url}}" class="img-fluid" alt="" style="width:50%;height:50%;object-fit:cover;no-repeat center;">
                                    <div id="txt_overlay"> <a href="/sunneberg/txt_things/{{grappes_txt.0.txt_name}}/edit"> <p>customize</p><p>text only </p> </a>
                                    </div>
                                <div class="caption">
                                    <div class="team-text">
                                        <h4>Grappes image txt</h4>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //Banner Text -->
                <!-- Abouts project -->
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: rgb(54, 0, 115); color: white">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse11">About us - Project</a>
                    </h4>
                    </div>
                    <div id="collapse11" class="panel-collapse collapse">
                        <div class="row team-bottom text-center">
                            <div class="col-lg-4 col-sm-4 team-grid">
                                <a href="/sunneberg/txt_things/{{proj1.0.txt_name}}/edit">
                                    <div class="caption">
                                        <div class="team-text">
                                            <h4>Project 1</h4>
                                            <h5 style="font-style: italic;">"{{proj1.0.txt_title}}"</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-4 team-grid">
                                <a href="/sunneberg/txt_things/{{proj2.0.txt_name}}/edit">
                                    <div class="caption">
                                        <div class="team-text">
                                            <h4>Project 2</h4>
                                            <h5 style="font-style: italic;">"{{proj2.0.txt_title}}"</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-4 team-grid">
                                <a href="/sunneberg/txt_things/{{proj3.0.txt_name}}/edit">
                                    <div class="caption">
                                        <div class="team-text">
                                            <h4>Project 3</h4>
                                            <h5 style="font-style: italic;">"{{proj3.0.txt_title}}"</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Moto -->
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: rgb(54, 0, 115); color: white">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion1" href="#collapse12">About us - Moto</a>
                        </h4>
                    </div>
                    <div id="collapse12" class="panel-collapse collapse">
                        <div class="row team-bottom text-center">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4 col-sm-4 team-grid">
                                <a href="/sunneberg/txt_things/{{moto.0.txt_name}}/edit">
                                <div class="caption">
                                    <div class="team-text">
                                        <h4>Moto</h4>
                                            <h5 style="font-style: italic;">Edit your moto</h5>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-lg-4"></div>
                        </div>
                    </div>
                </div>
                <!-- //Moto -->
                </div> 
            </div>
                
        </div>
    </section>

    <!-- //Texte -->

    <!-- Meat list -->
    <section class="adminmeat">
        <div class="container py-lg-3">
            <h3 class="heading mb-sm-5 mb-4 text-center"> Meat stock </h3>
            <div class="container">
                <h2> </h2>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        {% for i in meat_list.0.list_content %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <p>{{i}}</p>
                                <button type="button" class="badge badge-primary badge-pill" style="background-color: tomato;" data-toggle="modal" data-target="#ConfPopUp{{i}}">
                                    -
                                </button>
                            </li>
                            <!-- Modal -->
                            <div class="modal fade" id="ConfPopUp{{i}}" tabindex="-1" role="dialog" aria-labelledby="ConfPopUpTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Delete item</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                    Are you sure you want to delete "{{i}}"
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                    <form action="#" method="get">
                                        <button type="submit" class="btn btn-primary" name="Delete">Yes</button>                       
                                        <input type="hidden" name="element" value="{{i}}">
                                    </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                                
                        {% endfor %}
                        
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <p>add new element</p>
                            <button class="badge badge-primary badge-pill" type="button" data-toggle="modal" data-target="#AddPopUp{{i}}">+</button>
                        </li>
                        <!-- Modal -->
                        <div class="modal fade" id="AddPopUp{{i}}" tabindex="-1" role="dialog" aria-labelledby="AddPopUpTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Adding item</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Please, give a name to the new element:
                                </div>
                                <form action="#" method="get">
                                    <input type="text" name="new_element" placeholder="enter name"><br>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Validate</button>       
                                        
                                    </div>
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                
            </div>
                
        </div>
    </section>

    <!-- //Meat list -->

     <!-- Newsletter -->
     <section class="adminnewsletter">
        <div class="container py-lg-3">
            <h3 class="heading mb-sm-5 mb-4 text-center"> Newsletter diffusion list</h3>
            <div class="col-sm-4"></div>
            <div class="container nlbutton col-sm-2">
                <a href="/sunneberg/displaylist" class="btn btn-info" role="button">Display emai list</a>
            </div>
            <div class="container nlbutton col-sm-2">
                <a href="/sunneberg/editlist" class="btn btn-info" role="button">Edit emai list</a>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </section>

    <!-- Availability update -->
    <section class="availabilityupdate">  
        <div class="container py-lg-3">
            <h3 class="heading mb-sm-5 mb-4 text-center"> Vine stock </h3>
            <div class="container"> 
                <div class="col-sm-12">   
                    <form action="#" method="POST">
                        {% csrf_token %}
                        {% for key, val in vine_dict.0.list_content %}
                        <!-- Default switch -->
                            <div class="col-sm-6">   
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <p>{{key}}</p>
                                <label class="switch">
                                    <input name="{{ key }}" type="checkbox" value="{{ val }}" {% if val == "1" %}checked="checked"{% endif %}>
                                    <div class="slider round">
                                        <span class="on">ON</span><span class="off">OFF</span>
                                    </div>
                                </label>
                            </li>
                            </div>
                        {% endfor %}
                        <input type="submit" class="btn btn-info btn-available" name="submit" value="Save values" >
                    </form>
                </div>
            </div>
    </section>
    <!-- //Availability update -->

    <!-- News pdf -->
    <!-- https://pixabay.com/illustrations/pdf-miniature-file-icon-2127829/ -->
    <section class="adminnews">
        <div class="container py-lg-3">
            <h3 class="heading mb-sm-5 mb-4 text-center"> News PDF </h3>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <a href="/sunneberg/pdf_things/{{mvp.0.pdf_name}}/edit">
                    <img src="{% static 'images/pdf_logo.png' %}" class="img-fluid" alt="">
                <div class="caption">
                    <div class="team-text">
                        <h4>MVP New</h4>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="/sunneberg/pdf_things/{{first.0.pdf_name}}/edit">
                    <img src="{% static 'images/pdf_logo.png' %}" class="img-fluid" alt="">
                <div class="caption">
                    <div class="team-text">
                        <h4>First News link</h4>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="/sunneberg/pdf_things/{{second.0.pdf_name}}/edit">
                    <img src="{% static 'images/pdf_logo.png' %}" class="img-fluid" alt="">
                <div class="caption">
                    <div class="team-text">
                        <h4>Second News link</h4>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="/sunneberg/pdf_things/{{third.0.pdf_name}}/edit">
                    <img src="{% static 'images/pdf_logo.png' %}" class="img-fluid" alt="">
                <div class="caption">
                    <div class="team-text">
                        <h4>Third News link</h4>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="/sunneberg/pdf_things/{{fourth.0.pdf_name}}/edit">
                    <img src="{% static 'images/pdf_logo.png' %}" class="img-fluid" alt="">
                <div class="caption">
                    <div class="team-text">
                        <h4>Fourth News link</h4>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </section>
    <!-- //News pdf -->

    
    <!-- Order pdf -->
    <!-- https://pixabay.com/illustrations/pdf-miniature-file-icon-2127829/ -->
    <section class="adminorder">
        <div class="container py-lg-3">
            <h3 class="heading mb-sm-5 mb-4 text-center"> Order PDF </h3>
            <div class="col-sm-3"></div>
            <div class="col-sm-2">
                <a href="/sunneberg/pdf_things/{{order_meat.0.pdf_name}}/edit">
                    <img src="{% static 'images/pdf_logo.png' %}" class="img-fluid" alt="">
                <div class="caption">
                    <div class="team-text">
                        <h4>Meat order</h4>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="/sunneberg/pdf_things/{{order_vine.0.pdf_name}}/edit">
                    <img src="{% static 'images/pdf_logo.png' %}" class="img-fluid" alt="">
                <div class="caption">
                    <div class="team-text">
                        <h4>Vine order</h4>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="/sunneberg/pdf_things/{{order_apple.0.pdf_name}}/edit">
                    <img src="{% static 'images/pdf_logo.png' %}" class="img-fluid" alt="">
                <div class="caption">
                    <div class="team-text">
                        <h4>Apple order</h4>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </section>
    <!-- //Order pdf -->


    <div class=col-sm-12 style="margin-bottom: 20px;">
        <a href="/sunneberg/logmeout" type="button" class="btn btn-primary">Log out</a>
    </div>

</div>
{% else %}

<div class="container py-lg-3">
    <h3 class="heading mb-sm-5 mb-4 text-center"> You are not logged in </h3>
    {% if error %}
    <div class="row">
    <div class="col-md-12" style="text-align: center;"><p style="color: red;"><strong>Wrong username or password. Try again</strong></p></div>
    </div>
    {% endif %}
    <div class="col-sm-4"></div>
    <div class="container col-sm-2">
        <a class="btn btn-info" role="button" data-toggle="modal" data-target="#Login" name="Loginbutton">Login access</a>
        <!-- Modal -->
        <div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="LoginPopup" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p>Enter your login info</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-footer">
                <form action="#" method="post">
                    <div class="form-horizontal">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Se connecter" class="btn btn-primary" /></center>   
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

{% endif %}


{% endblock %}

