{% extends "sunneberg/base.html" %}



{% block body %}
{% load static %}

<section>
    <div class="newsletter_right_w3 py-5">
        <div class="container py-lg-3">
        <h3 class="heading mb-4 text-center">Unsubscribe to the Newsletter</h3>
            <p class="sub-tittle text-center mb-sm-5 mb-4">Please enter your email and the code you received</p>
            <div class="n-right-w3ls">
                <form action="#" method="post" class="newsletter">
                    {% csrf_token %}
                    <div>
                        <input class="email" type="email" placeholder="Enter your email..." required="" name="email_conf">
                    </div>
                    <div>
                        <input class="text" type="text" placeholder="Enter your code..." required="" name="code">
                    </div>
                    <div>
                    <button class="form-control btn" value="" style="height: 100%">Unsubscribe</button></div>
                </form>
            </div>
        </div>
    </div>
</section>

{% if messages %}
{% for message in messages %}
 {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

{% endfor %}

{% endif %}


{% endblock %}