{% extends "sunneberg/base.html" %}

{% block vine %}active{% endblock %}

{% load static %}


{% block body %}
{% load static %}

<!-- Vine -->
<div class="vine py-5" id="team">
	<div class="container py-lg-3">
        <h3 class="heading mb-sm-5 mb-4 text-center"> Our Vine</h3>
        <div class="container">
            <h2>List of vine and spiritueux</h2>
            <p><strong>Note:</strong> All our vine are bio</p>
            <div class="panel-group" id="accordion">
                <!-- Red Wine -->
                <!-- https://pixabay.com/vectors/alcohol-bar-beverage-blanc-blank-1031713/ -->
              <div class="panel panel-default">
                <div class="panel-heading" style="background-color: rgb(115,0,62); color: white">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Our red vine</a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="row team-bottom text-center">

                        <div class="bottle col-lg-3 col-sm-6">
                            <img src="{% static 'images/redbottle.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="bottle col-lg-3 col-sm-6">
                            <div class="caption">
                                <div class="team-text">
                                    <h4>Leo Millot</h4>
                                </div>
                                <ul class="mt-2">
                                    Ut enim ad minim quis nostrud exerci sed do eiusmod tempor incididunt ut labore et dolore magna aliqua nostrud exerci sed.
                                </ul>
                                <ul class="mt-2">
                                    XX CHF
                                </ul>
                                <ul class="mt-2">
                                    Availability : 
                                    {% for key, val in vine.0.list_content %}
                                        {% if key == "leo_millot" %}
                                            {% if val == "1" %}
                                                <img src="{% static 'images/available.png' %}" class="img-fluid" alt="available">
                                            {% else %}
                                                <img src="{% static 'images/not_available.png' %}" class="img-fluid" alt="not_available">
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="bottle col-lg-3 col-sm-6">
                            <img src="{% static 'images/redbottle.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="bottle col-lg-3 col-sm-6">
                            <div class="caption">
                                <div class="team-text">
                                    <h4>Barrique</h4>
                                </div>
                                <ul class="mt-2">
                                    Ut enim ad minim quis nostrud exerci sed do eiusmod tempor incididunt ut labore et dolore magna aliqua nostrud exerci sed.
                                </ul>
                                <ul class="mt-2">
                                    XX CHF
                                </ul>
                                <ul class="mt-2">
                                    Availability : 
                                    {% for key, val in vine.0.list_content %}
                                        {% if key == "barrique" %}
                                            {% if val == "1" %}
                                                <img src="{% static 'images/available.png' %}" class="img-fluid" alt="available">
                                            {% else %}
                                                <img src="{% static 'images/not_available.png' %}" class="img-fluid" alt="not_available">
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="bottle col-lg-3 col-sm-6">
                            <img src="{% static 'images/redbottle.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="bottle col-lg-3 col-sm-6">
                            <div class="caption">
                                <div class="team-text">
                                    <h4>Marechal Foch</h4>
                                </div>
                                <ul class="mt-2">
                                    Ut enim ad minim quis nostrud exerci sed do eiusmod tempor incididunt ut labore et dolore magna aliqua nostrud exerci sed.
                                </ul>
                                <ul class="mt-2">
                                    XX CHF
                                </ul>
                                <ul class="mt-2">
                                    Availability : 
                                    {% for key, val in vine.0.list_content %}
                                        {% if key == "m_foch" %}
                                            {% if val == "1" %}
                                                <img src="{% static 'images/available.png' %}" class="img-fluid" alt="available">
                                            {% else %}
                                                <img src="{% static 'images/not_available.png' %}" class="img-fluid" alt="not_available">
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="bottle col-lg-3 col-sm-6">
                            <img src="{% static 'images/redbottle.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="bottle col-lg-3 col-sm-6">
                            <div class="caption">
                                <div class="team-text">
                                    <h4>Syrah</h4>
                                </div>
                                <ul class="mt-2">
                                    Ut enim ad minim quis nostrud exerci sed do eiusmod tempor incididunt ut labore et dolore magna aliqua nostrud exerci sed.
                                </ul>
                                <ul class="mt-2">
                                    XX CHF
                                </ul>
                                <ul class="mt-2">
                                    Availability : 
                                    {% for key, val in vine.0.list_content %}
                                        {% if key == "syrah" %}
                                            {% if val == "1" %}
                                                <img src="{% static 'images/available.png' %}" class="img-fluid" alt="available">
                                            {% else %}
                                                <img src="{% static 'images/not_available.png' %}" class="img-fluid" alt="not_available">
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
              </div>
                <!-- //Red Wine -->
                <!-- White Wine -->
                <!-- https://pixabay.com/vectors/bottle-wine-drink-blank-alcohol-159230/ -->
              <div class="panel panel-default">
                <div class="panel-heading" style="background-color: rgb(255,255,153);">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Our white vine</a>
                  </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="row team-bottom text-center">
                        <div class="bottle col-lg-3 col-sm-6">
                            <img src="{% static 'images/whitebottle.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="bottle col-lg-3 col-sm-6">
                            <div class="caption">
                                <div class="team-text">
                                    <h4>Seval blanc</h4>
                                </div>
                                <ul class="mt-2">
                                    Ut enim ad minim quis nostrud exerci sed do eiusmod tempor incididunt ut labore et dolore magna aliqua nostrud exerci sed.
                                </ul>
                                <ul class="mt-2">
                                    XX CHF
                                </ul>
                                <ul class="mt-2">
                                    Availability : 
                                    {% for key, val in vine.0.list_content %}
                                        {% if key == "seval_blanc" %}
                                            {% if val == "1" %}
                                                <img src="{% static 'images/available.png' %}" class="img-fluid" alt="available">
                                            {% else %}
                                                <img src="{% static 'images/not_available.png' %}" class="img-fluid" alt="not_available">
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="bottle col-lg-3 col-sm-6">
                            <img src="{% static 'images/whitebottle.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="bottle col-lg-3 col-sm-6">
                            <div class="caption">
                                <div class="team-text">
                                    <h4>Chardonay</h4>
                                </div>
                                <ul class="mt-2">
                                    Ut enim ad minim quis nostrud exerci sed do eiusmod tempor incididunt ut labore et dolore magna aliqua nostrud exerci sed.
                                </ul>
                                <ul class="mt-2">
                                    XX CHF
                                </ul>
                                <ul class="mt-2">
                                    Availability : 
                                    {% for key, val in vine.0.list_content %}
                                        {% if key == "chardonay" %}
                                            {% if val == "1" %}
                                                <img src="{% static 'images/available.png' %}" class="img-fluid" alt="available">
                                            {% else %}
                                                <img src="{% static 'images/not_available.png' %}" class="img-fluid" alt="not_available">
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
              </div>
              <!-- //White Wine -->
              <!-- Rosé Wine -->
              <div class="panel panel-default">
                <div class="panel-heading" style="background-color: rgb(209,176,167);">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Our rosé</a>
                  </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="bottle row team-bottom text-center">
                        <div class="col-lg-6 col-sm-6 team-grid">
                            <img src="{% static 'images/rosebottle.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6 col-sm-6 team-grid">
                            <div class="caption">
                                <div class="team-text">
                                    <h4>Rosé</h4>
                                </div>
                                <ul class="mt-2">
                                    Ut enim ad minim quis nostrud exerci sed do eiusmod tempor incididunt ut labore et dolore magna aliqua nostrud exerci sed.
                                </ul>
                                <ul class="mt-2">
                                    XX CHF
                                </ul>
                                <ul class="mt-2">
                                    Availability : 
                                    {% for key, val in vine.0.list_content %}
                                        {% if key == "rose" %}
                                            {% if val == "1" %}
                                                <img src="{% static 'images/available.png' %}" class="img-fluid" alt="available">
                                            {% else %}
                                                <img src="{% static 'images/not_available.png' %}" class="img-fluid" alt="not_available">
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <!-- //Rosé Wine -->
              <!-- Champagne like -->
              <div class="panel panel-default">
                <div class="panel-heading" style="background-color: rgb(228, 225, 54);">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Our Champagne method</a>
                  </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="bottle row team-bottom text-center">
                        <div class="col-lg-6 col-sm-6 team-grid">
                            <img src="{% static 'images/champ.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6 col-sm-6 team-grid">
                            <div class="caption">
                                <div class="team-text">
                                    <h4>NAME</h4>
                                </div>
                                <ul class="mt-2">
                                    Ut enim ad minim quis nostrud exerci sed do eiusmod tempor incididunt ut labore et dolore magna aliqua nostrud exerci sed.
                                </ul>
                                <ul class="mt-2">
                                    XX CHF
                                </ul>
                                <ul class="mt-2">
                                    Availability : 
                                    {% for key, val in vine.0.list_content %}
                                        {% if key == "mousseux" %}
                                            {% if val == "1" %}
                                                <img src="{% static 'images/available.png' %}" class="img-fluid" alt="available">
                                            {% else %}
                                                <img src="{% static 'images/not_available.png' %}" class="img-fluid" alt="not_available">
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %} 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <!-- //Champagne like -->
              <!-- Spirituos Wine -->
              <div class="panel panel-default">
                <div class="panel-heading" style="background-color: rgb(217,151,41); color: white">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Our spiritueux</a>
                  </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="bottle row team-bottom text-center">
                        <div class="col-lg-3 col-sm-6 team-grid">
                            <img src="{% static 'images/mirabellebottle.jpg' %}" class="img-fluid" alt="">
                            <div class="caption">
                                <div class="team-text">
                                    <h4>Birne</h4>
                                </div>
                                <ul class="mt-2">
                                    XX CHF
                                </ul>
                                <ul class="mt-2">
                                    Availability : 
                                    {% for key, val in vine.0.list_content %}
                                        {% if key == "birne" %}
                                            {% if val == "1" %}
                                                <img src="{% static 'images/available.png' %}" class="img-fluid" alt="available">
                                            {% else %}
                                                <img src="{% static 'images/not_available.png' %}" class="img-fluid" alt="not_available">
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 team-grid">
                            <img src="{% static 'images/mirabellebottle.jpg' %}" class="img-fluid" alt="">
                            <div class="caption">
                                <div class="team-text">
                                    <h4>Mirabelle</h4>
                                </div>
                                <ul class="mt-2">
                                    XX CHF
                                </ul>
                                <ul class="mt-2">
                                    Availability : 
                                    {% for key, val in vine.0.list_content %}
                                        {% if key == "mirabelle" %}
                                            {% if val == "1" %}
                                                <img src="{% static 'images/available.png' %}" class="img-fluid" alt="available">
                                            {% else %}
                                                <img src="{% static 'images/not_available.png' %}" class="img-fluid" alt="not_available">
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 team-grid">
                            <img src="{% static 'images/mirabellebottle.jpg' %}" class="img-fluid" alt="">
                            <div class="caption">
                                <div class="team-text">
                                    <h4>Zwetschge</h4>
                                </div>
                                <ul class="mt-2">
                                    XX CHF
                                </ul>
                                <ul class="mt-2">
                                    Availability : 
                                    {% for key, val in vine.0.list_content %}
                                        {% if key == "zwetschge" %}
                                            {% if val == "1" %}
                                                <img src="{% static 'images/available.png' %}" class="img-fluid" alt="available">
                                            {% else %}
                                                <img src="{% static 'images/not_available.png' %}" class="img-fluid" alt="not_available">
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 team-grid">
                            <img src="{% static 'images/mirabellebottle.jpg' %}" class="img-fluid" alt="">
                            <div class="caption">
                                <div class="team-text">
                                    <h4>Quitte</h4>
                                </div>
                                <ul class="mt-2">
                                    XX CHF
                                </ul>
                                <ul class="mt-2">
                                    Availability : 
                                    {% for key, val in vine.0.list_content %}
                                        {% if key == "quitte" %}
                                            {% if val == "1" %}
                                                <img src="{% static 'images/available.png' %}" class="img-fluid" alt="available">
                                            {% else %}
                                                <img src="{% static 'images/not_available.png' %}" class="img-fluid" alt="not_available">
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <!-- //Spirituos Wine -->
            </div> 
          </div>
              
    </div>



<!-- Vine order -->
<div class="order py-md-2">
	<div class="container py-md-4 py-5">
		<div class="row">
			<div class="col-md-12">
				<h4 class="abt-text text-capitalize"> Download our Vine Order Formular !!!! <h4>
            </div>

			<div class="col-md-4"></div>
			<div class="col-md-4">
				<a href="{{pdf_order.0.pdf_file.url}}" class="btn btn-secondary px-4 py-2 btn-sm" download>Download Order</a>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>
<!-- // Vine order -->

<div class="vinepartner py-md-2">
    <div class="container">
        <h2>Our Vine partner</h2>
        <section style="padding-top: 10px; padding-bottom: 10px;">
            <div class="col-xs-4"><img src="{% static 'images/partner.jpg' %}"> <p>pwoeiur wpoiut writui iwerut</p> </div>
            <div class="col-xs-4"><img src="{% static 'images/partner.jpg' %}"> <p>pwoeiur wpoiut writui iwerut</p></div>
            <div class="col-xs-4"><img src="{% static 'images/partner.jpg' %}"> <p>pwoeiur wpoiut writui iwerut</p></div>
        </section>
    </div>
</div>


</div>

{% endblock %}